.main_box{
    border: 0px solid #000;
    width: 80%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: black;
}
.main_title{
    margin-left: 42%;
    font-size: 50px;
    display: none;
}
.main_subTitle{
    margin-left: 30%;
    font-size: 30px;
    display: none;

}